@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

$main-color:#DBCC8F;
$bg-dark:#010101;
$bars-color:#808080;
$slide-color:#837A56;
$decription-color:#858585;
$bg-secondary:#FFFFFF;
$bg-grey:#E5E5E5;
$btn-color:#C2A842;
$bg-light:#F7F7F7;
$bg-white:#fff;
$bg-black:#000000;
$bg-darkgrey:#F8F9FA;
$bg-smoke:#ECECEC;
$bg-darksmoke:#F8F9FA;

$boder-left:#e6e6e6;

$color-tag:#757575;
$color-title:#FDFCF9;
$color-sub:#F2F3F4;
$color-letter:#4D4D4D;

$breakpoint-md:768px;
$breakpoint-lg:992px;
$breakpoint-sm:576px;
$breakpoint-xl:1200px;


$body-font:'Open Sans', sans-serif;



