
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="fontawesome/css/all.css") 
        link(href="./my-icons-collection/font/flaticon.css", rel="stylesheet" type="text/css")
    body
        block main
        footer
            .footer-contact
                .footer-item 
                    h2 minishop 
                    p   Far far away, behind the word mountains, 
                        |far from the countries Vokalia and Consonantia.
                    .footer-item__social 
                        i.fab.fa-twitter
                        i.fab.fa-facebook-f
                        i.fab.fa-instagram
                .footer-item 
                    h2 menu 
                    a(href="#") shop
                    a(href="#") about
                    a(href="#") jourmal
                    a(href="#") contact us
                .footer-item 
                    h2 help
                    .footer-item__service
                        p Shipping Information
                        p FAQs
                        p Returns &amp; Exchange
                        p Contact
                        p Terms &amp; Conditions
                        p Privacy Policy
                .footer-item 
                    h2 have a questions?
                    .footer-item__address
                        i.fas.fa-map-marker-alt
                        p 203 Fake St. Mountain View, San Francisco, California, USA 
                        i.fas.fa-phone-alt
                        p +2 392 3929 210
                        i.fas.fa-envelope
                        p info@yourdomain.com
            p.footer-tag Copyright &copy; 2020 All rights reserved | This template is made with  by